# docker-composeは開発用設定
services:                           # サービスを定義しますという決まり文句
  web:                              # webという名前でサービスを定義
    build: .                        # Dockerfileを相対パスで指定しビルド
    container_name: chatlog-2-hatena-web  # コンテナ名
    working_dir: /app               # コンテナ内の作業ディレクトリを指定
    ports:
      - "8080:8080"                 # Windowsのポート:コンテナ内のuvicornが待ち受けるポート
    volumes:                        # マウントするファイルを指定する
      - ./:/app           # WindowsのCD → コンテナの/app　の常時同期設定（双方向的）　Dockerfileの COPY . .（Windowsからのコピー）を無効化（同期設定により置換）
      - /app/.venv                  # .venvを同期から除外
    command: uv run uvicorn api:app --host 0.0.0.0 --port 8080 --reload # DockerfileのCMDを完全上書き
    # environment:
    #   - GEMINI_API_KEY=${GEMINI_API_KEY}
    #   - ...
      